In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Traffic data
The traffic data that is imported here is taken from the **TrafficDataCleaning file**, where detailed steps about the cleaning of the dataset have been specified as well as a data dictionary with data requirements. 
### Importing the data

In [2]:
traffic_data = pd.read_csv("datasets/CleanTraffic.csv")
traffic_data.sample(3)

,TrafficJamNum,StartDate,EndDate,StartTime,EndTime,Severity,Length,Duration,HectometerStart,HectometerEnd,...,CauseCodeDescr,CauseClass,CauseCodeClass,CauseCode,Cause_1,Cause_2,Cause_3,Cause_4,StartDateTime,EndDateTime
812213,1835777,2015-11-17,2015-11-17,18:10:00,18:50:21,111.900,2773.234,40.350,77.3,82.3,...,Spitsfile (geen oorzaak gemeld),[Geen oorzaakcode opgegeven door VWM 40],[000],001,Spitsfile (geen oorzaak gemeld),Geen oorzaak gemeld,Drukte,Hoge intensiteit,2015-11-17 18:10:00,2015-11-17 18:50:21
533263,2977096,2022-04-06,2022-04-06,9:17:31,9:22:00,10.067,2245.000,4.483,45.4,47.4,...,Spitsfile (geen oorzaak gemeld),[Geen oorzaakcode opgegeven door VWM 4],[000],001,Spitsfile (geen oorzaak gemeld),Geen oorzaak gemeld,Drukte,Hoge intensiteit,2022-04-06 09:17:31,2022-04-06 09:22:00
442263,3710744,2023-09-11,2023-09-11,17:34:30,17:36:01,4.398,2900.000,1.517,39.6,42.5,...,Spitsfile (geen oorzaak gemeld),[Geen oorzaakcode opgegeven door VWM 2],[000],001,Spitsfile (geen oorzaak gemeld),Geen oorzaak gemeld,Drukte,Hoge intensiteit,2023-09-11 17:34:30,2023-09-11 17:36:01

In [3]:
traffic_data.shape

(1581413, 28)

### Checking the data types and missing values

In [4]:
traffic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1581413 entries, 0 to 1581412
Data columns (total 28 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   TrafficJamNum        1581413 non-null  int64
 1   StartDate            1581413 non-null  object
 2   EndDate              1581413 non-null  object
 3   StartTime            1581413 non-null  object
 4   EndTime              1581413 non-null  object
 5   Severity             1581413 non-null  float64
 6   Length               1581413 non-null  float64
 7   Duration             1581413 non-null  float64
 8   HectometerStart      1581413 non-null  float64
 9   HectometerEnd        1581413 non-null  float64
 10  RoadLetter           1581413 non-null  object
 11  RoadNumber           1581413 non-null  int64
 12  RoadDescr            1581413 non-null  object
 13  HectometerDirection  1581413 non-null  object
 14  RoadSectionFrom      1581413 non-null  object
 15  RoadSectionTo        1581413 non-null  object
 16  MainRoadFrom         1581413 non-null  object
 17  MainRoadTo           1581413 non-null  object
 18  CauseCodeDescr       1581413 non-null  object
 19  CauseClass           1581413 non-null  object
 20  CauseCodeClass       1581413 non-null  object
 21  CauseCode            1581413 non-null  object
 22  Cause_1              1581413 non-null  object
 23  Cause_2              1581413 non-null  object
 24  Cause_3              1581413 non-null  object
 25  Cause_4              1581413 non-null  object
 26  StartDateTime        1581413 non-null  object
 27  EndDateTime          1581413 non-null  object
dtypes: float64(5), int64(2), object(21)
memory usage: 337.8+ MB

In [5]:
traffic_data.isna().sum()

TrafficJamNum          0
StartDate              0
EndDate                0
StartTime              0
EndTime                0
Severity               0
Length                 0
Duration               0
HectometerStart        0
HectometerEnd          0
RoadLetter             0
RoadNumber             0
RoadDescr              0
HectometerDirection    0
RoadSectionFrom        0
RoadSectionTo          0
MainRoadFrom           0
MainRoadTo             0
CauseCodeDescr         0
CauseClass             0
CauseCodeClass         0
CauseCode              0
Cause_1                0
Cause_2                0
Cause_3                0
Cause_4                0
StartDateTime          0
EndDateTime            0
dtype: int64

### Altering data
#### Adding hour

In [6]:
traffic_data['Hour'] = traffic_data['StartTime'].apply(lambda x: x.split(':')[0]).astype(int)
traffic_data.sample(3)

,TrafficJamNum,StartDate,EndDate,StartTime,EndTime,Severity,Length,Duration,HectometerStart,HectometerEnd,...,CauseClass,CauseCodeClass,CauseCode,Cause_1,Cause_2,Cause_3,Cause_4,StartDateTime,EndDateTime,Hour
1538316,2391802,2018-08-27,2018-08-27,17:49:00,17:54:58,14.917,2500.000,5.967,92.5,90.5,...,[Geen oorzaakcode opgegeven door VWM 6],[000],001,Spitsfile (geen oorzaak gemeld),Geen oorzaak gemeld,Drukte,Hoge intensiteit,2018-08-27 17:49:00,2018-08-27 17:54:58,17
532532,2975076,2022-04-05,2022-04-05,8:31:31,8:33:00,3.263,2200.000,1.483,48.6,46.4,...,[Geen oorzaakcode opgegeven door VWM 1],[000],001,Spitsfile (geen oorzaak gemeld),Geen oorzaak gemeld,Drukte,Hoge intensiteit,2022-04-05 08:31:31,2022-04-05 08:33:00,8
1573838,2808906,2021-03-28,2021-03-28,13:47:00,16:10:34,454.183,3163.571,143.567,31.4,29.4,...,"[Geen oorzaakcode opgegeven door VWM 28], [Ext...","[000], [N61]",N61,Extra verkeersdrukte door verkeer dat een omle...,Incident elders,Incident,Incident,2021-03-28 13:47:00,2021-03-28 16:10:34,13

#### Keeping only relevant roads

As we want to only have the specific roads that our client can possibly use to reach the offices, we will prepare the data for joining by filtering on the roads A2 and A73.
An important observation is that **A2 leads from Sittard to 's-Hertogenbosch** and vice versa, whereas **A73 leads from Sittard to Boxmeer** and vice versa. Other routes are also possible, but they are significantly slower. Therefore, it is better to focus on those two only for now. Furthermore, they have been suggested by the client as the optimal routes.

In [7]:
filtered_traffic= traffic_data[(traffic_data['RoadDescr'] == 'A73') | (traffic_data['RoadDescr'] == 'A2')]
filtered_traffic.sample(3)

,TrafficJamNum,StartDate,EndDate,StartTime,EndTime,Severity,Length,Duration,HectometerStart,HectometerEnd,...,CauseClass,CauseCodeClass,CauseCode,Cause_1,Cause_2,Cause_3,Cause_4,StartDateTime,EndDateTime,Hour
178444,3261057,2022-11-07,2022-11-07,17:07:27,17:20:03,31.220,2478.0,12.600,59.6,57.8,...,[Geen oorzaakcode opgegeven door VWM 13],[000],002,Spitsfile (geen oorzaak gemeld) met gevonden w...,Geen oorzaak gemeld,Drukte,Hoge intensiteit,2022-11-07 17:07:27,2022-11-07 17:20:03,17
864815,2355214,2018-05-31,2018-05-31,16:32:00,16:34:40,5.333,2000.0,2.667,65.1,63.1,...,[Geen oorzaakcode opgegeven door VWM 3],[000],001,Spitsfile (geen oorzaak gemeld),Geen oorzaak gemeld,Drukte,Hoge intensiteit,2018-05-31 16:32:00,2018-05-31 16:34:40,16
72676,3804957,2023-11-03,2023-11-03,17:12:31,17:45:03,131.972,4057.0,32.533,80.9,78.2,...,"[Geen oorzaakcode opgegeven door VWM 9], [Defe...","[000], [BKD], [000]",BKD,Defect(e) voertuig(en),Defect voertuig,Incident (gestrand voertuig),Incident,2023-11-03 17:12:31,2023-11-03 17:45:03,17

In [8]:
denb=filtered_traffic[(filtered_traffic["MainRoadFrom"] == "'s-Hertogenbosch")&(filtered_traffic["MainRoadTo"] == "Utrecht")]
denb["HectometerDirection"].unique()

array(['aflopend'], dtype=object)

### Making the direction numerical
0 = Morning (Sittard - Den Bosch)

1 = Afternoon (Den Bosch - Sittard)

In [9]:
filtered_traffic.loc[filtered_traffic["HectometerDirection"]=="oplopend", 'HectometerDirectionNum'] = 1
filtered_traffic.loc[filtered_traffic["HectometerDirection"]=="aflopend", 'HectometerDirectionNum'] = 0

filtered_traffic.sample(3)

C:\Users\zashe\AppData\Local\Temp\ipykernel_2020\1781117567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_traffic.loc[filtered_traffic["HectometerDirection"]=="oplopend", 'HectometerDirectionNum'] = 1

,TrafficJamNum,StartDate,EndDate,StartTime,EndTime,Severity,Length,Duration,HectometerStart,HectometerEnd,...,CauseCodeClass,CauseCode,Cause_1,Cause_2,Cause_3,Cause_4,StartDateTime,EndDateTime,Hour,HectometerDirectionNum
65675,3819387,2023-11-13,2023-11-13,7:35:28,7:44:00,14.782,1732.0,8.533,188.8,190.4,...,[000],001,Spitsfile (geen oorzaak gemeld),Geen oorzaak gemeld,Drukte,Hoge intensiteit,2023-11-13 07:35:28,2023-11-13 07:44:00,7,0.0
311437,3079978,2022-06-16,2022-06-16,10:12:27,10:16:00,11.017,3103.0,3.550,184.9,188.1,...,[000],003,File buiten spits (geen oorzaak gemeld),Geen oorzaak gemeld,Drukte,Hoge intensiteit,2022-06-16 10:12:27,2022-06-16 10:16:00,10,0.0
409619,3046299,2022-05-25,2022-05-25,16:12:28,16:16:02,7.133,2000.0,3.567,77.3,75.3,...,[000],001,Spitsfile (geen oorzaak gemeld),Geen oorzaak gemeld,Drukte,Hoge intensiteit,2022-05-25 16:12:28,2022-05-25 16:16:02,16,1.0

### Removing useless columns

In [13]:
numerical_columns = filtered_traffic.select_dtypes(include=['int64', 'float64', 'int32'])
selected_columns = filtered_traffic.loc[:, ["StartDate"]+numerical_columns.columns.tolist()]
selected_columns = selected_columns[["StartDate", "Duration", "RoadNumber", "Hour", "HectometerDirectionNum"]]
selected_columns['StartDate'] = pd.to_datetime(selected_columns['StartDate'])
selected_columns.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191585 entries, 7 to 1581404
Data columns (total 5 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   StartDate               191585 non-null  datetime64[ns]
 1   Duration                191585 non-null  float64
 2   RoadNumber              191585 non-null  int64
 3   Hour                    191585 non-null  int32
 4   HectometerDirectionNum  191585 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1)
memory usage: 8.0 MB

It can be concluded that the file got imported correctly and is ready to be used further.
## Calendar

In [27]:
def create_date_table2(start, end):
    date_range = pd.date_range(start=start, end=end, freq='h')
    df = pd.DataFrame({"DateTime": date_range})
    df["StartDate"] = df["DateTime"].dt.date
    df["Hour"] = df["DateTime"].dt.hour
    return df

calendar = create_date_table2(start=selected_columns['StartDate'].min(), end=selected_columns['StartDate'].max())
calendar = calendar.drop(calendar.columns[0], axis=1)
calendar['StartDate'] = pd.to_datetime(calendar['StartDate'])
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80233 entries, 0 to 80232
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StartDate  80233 non-null  datetime64[ns]
 1   Hour       80233 non-null  int32
dtypes: datetime64[ns](1), int32(1)
memory usage: 940.4 KB

### Join road A2 and direction 1

In [35]:
a2d1 = selected_columns[(selected_columns['RoadNumber']==2)&(selected_columns['HectometerDirectionNum']==1)]
a2d1.sample(2)

         StartDate  Duration  RoadNumber  Hour  HectometerDirectionNum
1446392 2018-07-12      3.95           2    16                     1.0
980102  2020-01-21      1.20           2    16                     1.0

In [36]:
mergedoutera2d1 = pd.merge(calendar, a2d1, how='left', on=['StartDate', 'Hour'])
mergedoutera2d1.isna().sum()

StartDate                     0
Hour                          0
Duration                  66294
RoadNumber                66294
HectometerDirectionNum    66294
dtype: int64

In [37]:
mergedoutera2d1['Duration'] = mergedoutera2d1['Duration'].fillna(0)
mergedoutera2d1['RoadNumber'] = mergedoutera2d1['RoadNumber'].fillna(2)
mergedoutera2d1['HectometerDirectionNum'] = mergedoutera2d1['HectometerDirectionNum'].fillna(1)
mergedoutera2d1.isna().sum()

StartDate                 0
Hour                      0
Duration                  0
RoadNumber                0
HectometerDirectionNum    0
dtype: int64

In [48]:
mergedoutera2d1.sample(2)

       StartDate  Hour  Duration  RoadNumber  HectometerDirectionNum
63588 2018-12-07    15     22.90         2.0                     1.0
29351 2016-11-17    15     14.05         2.0                     1.0

### Join road A2 and direction 0

In [44]:
a2d0 = selected_columns[(selected_columns['RoadNumber']==2)&(selected_columns['HectometerDirectionNum']==0)]
a2d0.sample(2)

         StartDate  Duration  RoadNumber  Hour  HectometerDirectionNum
1292834 2019-01-22    22.533           2     8                     0.0
455059  2024-02-15    11.567           2     8                     0.0

In [45]:
mergedoutera2d0 = pd.merge(calendar, a2d0, how='left', on=['StartDate', 'Hour'])
mergedoutera2d0.isna().sum()

StartDate                     0
Hour                          0
Duration                  65613
RoadNumber                65613
HectometerDirectionNum    65613
dtype: int64

In [46]:
mergedoutera2d0['Duration'] = mergedoutera2d0['Duration'].fillna(0)
mergedoutera2d0['RoadNumber'] = mergedoutera2d0['RoadNumber'].fillna(2)
mergedoutera2d0['HectometerDirectionNum'] = mergedoutera2d0['HectometerDirectionNum'].fillna(0)
mergedoutera2d0.isna().sum()

StartDate                 0
Hour                      0
Duration                  0
RoadNumber                0
HectometerDirectionNum    0
dtype: int64

In [47]:
mergedoutera2d0.sample(2)

       StartDate  Hour  Duration  RoadNumber  HectometerDirectionNum
52596 2018-09-30    14       0.0         2.0                     0.0
68436 2019-09-26     4       0.0         2.0                     0.0

### Join A73 and direction 1

In [49]:
a73d1 = selected_columns[(selected_columns['RoadNumber']==73)&(selected_columns['HectometerDirectionNum']==1)]
a73d1.sample(2)

        StartDate  Duration  RoadNumber  Hour  HectometerDirectionNum
369621 2022-10-28     9.533          73    16                     1.0
344546 2022-09-16    10.533          73    17                     1.0

In [50]:
mergedoutera73d1 = pd.merge(calendar, a73d1, how='left', on=['StartDate', 'Hour'])
mergedoutera73d1.isna().sum()

StartDate                     0
Hour                          0
Duration                  76121
RoadNumber                76121
HectometerDirectionNum    76121
dtype: int64

In [51]:
mergedoutera73d1['Duration'] = mergedoutera73d1['Duration'].fillna(0)
mergedoutera73d1['RoadNumber'] = mergedoutera73d1['RoadNumber'].fillna(73)
mergedoutera73d1['HectometerDirectionNum'] = mergedoutera73d1['HectometerDirectionNum'].fillna(1)
mergedoutera73d1.isna().sum()

StartDate                 0
Hour                      0
Duration                  0
RoadNumber                0
HectometerDirectionNum    0
dtype: int64

In [53]:
mergedoutera73d1.sample(2)

       StartDate  Hour  Duration  RoadNumber  HectometerDirectionNum
8237  2015-12-11     1       0.0        73.0                     1.0
53180 2020-11-26     5       0.0        73.0                     1.0

### Join A73 and direction 0

In [54]:
a73d0 = selected_columns[(selected_columns['RoadNumber']==73)&(selected_columns['HectometerDirectionNum']==0)]
a73d0.sample(2)

        StartDate  Duration  RoadNumber  Hour  HectometerDirectionNum
304311 2022-06-29      7.55          73    17                     0.0
196124 2022-11-25     10.50          73    16                     0.0

In [55]:
mergedoutera73d0 = pd.merge(calendar, a73d0, how='left', on=['StartDate', 'Hour'])
mergedoutera73d0.isna().sum()

StartDate                     0
Hour                          0
Duration                  77503
RoadNumber                77503
HectometerDirectionNum    77503
dtype: int64

In [56]:
mergedoutera73d0['Duration'] = mergedoutera73d0['Duration'].fillna(0)
mergedoutera73d0['RoadNumber'] = mergedoutera73d0['RoadNumber'].fillna(73)
mergedoutera73d0['HectometerDirectionNum'] = mergedoutera73d0['HectometerDirectionNum'].fillna(0)
mergedoutera73d0.isna().sum()

StartDate                 0
Hour                      0
Duration                  0
RoadNumber                0
HectometerDirectionNum    0
dtype: int64

In [57]:
mergedoutera73d0.sample(2)

       StartDate  Hour  Duration  RoadNumber  HectometerDirectionNum
56482 2021-05-23    23       0.0        73.0                     0.0
38901 2019-06-02    14       0.0        73.0                     0.0

### Appending the 4 dataframes

In [61]:
dataframes = [mergedoutera2d0, mergedoutera2d1, mergedoutera73d0, mergedoutera73d1]
appended_frame = pd.concat(dataframes, axis=0)
appended_frame.isna().sum()

StartDate                 0
Hour                      0
Duration                  0
RoadNumber                0
HectometerDirectionNum    0
dtype: int64

In [62]:
appended_frame.shape

(476838, 5)

In [63]:
appended_frame.sample(5)

        StartDate  Hour  Duration  RoadNumber  HectometerDirectionNum
54169  2018-10-29     8    19.517         2.0                     0.0
74238  2020-01-13     7    16.100         2.0                     0.0
100365 2021-08-11    19     0.000         2.0                     1.0
87954  2020-04-05     9     0.000         2.0                     1.0
132182 2023-07-21    11    18.550         2.0                     0.0

### Exporting the file

In [64]:
appended_frame.to_csv("datasets/LeftJoin.csv", index=False)